.status-box {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  color: #828282;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: rgba(255, 255, 255, 0.07);
}

.status-box.completed {
  background: rgba(28, 203, 138, 0.07);
}

.status-box.pending {
  background: rgba(238, 185, 49, 0.07);
}

.status-box.cancelled {
  background: rgba(238, 63, 20, 0.07);
}

.status-dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #fff;
}

.status-dot.completed {
  background-color: #1CCB8A;
}

.status-dot.pending {
  background-color: #EEB931;
}

.status-dot.cancelled {
  background-color: #EE3F14;
}


.transfer-list-table th {
  background-color: var(--table-background);
  border-bottom: 1px solid var(--table-border);
  color: var(--table-header-text);
  font-size: 14px;
}

.transfer-list-table {
  border: 1px solid var(--table-border);
  border-radius: 10px;
  border-collapse: collapse;
}

.transfer-list-table thead svg {
  display: inline;
}

.transfer-list-table td {
  background-color: var(--table-background);
  border-bottom: 1px solid var(--table-border);
  color: var(--table-text);
}

#details {
  background-color: rgba(255, 255, 255, 0.03);
}

#details>div {
  color: var(--table-text);
  margin: 0.5em 0;
}