.status-box {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  color: rgba(221, 221, 221, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: rgba(255, 255, 255, 0.07);
}

.status-dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #fff;
}

.status-box.completed, .status-box.reimbursed {
  background: rgba(28, 203, 138, 0.07);
}

.status-dot.completed, .status-dot.reimbursed {
  background-color: #1CCB8A;
}

.status-box.pending, .status-box.failed, .status-box.retried {
  background: rgba(238, 185, 49, 0.07);
}

.status-dot.pending, .status-dot.failed, .status-dot.retried{
  background-color: #EEB931;
}

.status-box.cancelled {
  background: rgba(238, 63, 20, 0.07);
}

.status-dot.cancelled {
  background-color: #F14445;
}


.bridge-card .tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) > svg {
  fill: #32253E;
}

.bridge-card .tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
  color: #32253E;
}

.bridge-card input[type='number'] {
  outline: 0px;
}

[data-theme='pendulum'] {
  .bridge-card .tabs-boxed :not(.tab-active) > svg{
    fill: var(--gray-3, #828282);
  }

  .bridge-card .tabs-boxed :not(.tab-active) {
    color: var(--gray-3, #828282);
  }

  .bridge-card .tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
    background-color: #f7f7f7;
  }

  .bridge-card .disclaimer svg{
    fill: #32253E
  }

  .bridge-card .settings svg {
    stroke: #58667E;
  }

  .odd-rows {
    background-color: #F5F9FA;
  }

  .table-border {
    border-color: #DFE0EB;
  }
  
  .status-box {
    color: #828282;
  }

  .table-header {
    color: #9FA2B4;
  }
}

[data-theme='amplitude'] {
  .bridge-card .tabs-boxed :not(.tab-active) > svg{
    fill: var(--primary);
  }

  .bridge-card .tabs-boxed :not(.tab-active) {
    color: #fff;
  }

  .bridge-card .tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
    background-color: var(--primary);
  }

  .bridge-card .disclaimer svg {
    fill: #fff;
  }

  .bridge-card input[type='number'] {
    color: #fff;
  }  

  .bridge-card .settings svg {
    stroke: #fff;
  }

  .odd-rows {
    background-color: #2A2A2A;
  }

  .table-border {
    border-color: #434343;
  }

  .table-header {
    color: rgba(221, 221, 221, 0.87);
  }
}

