.space-walk {
}

.space-walk input::-webkit-outer-spin-button,
.space-walk input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.space-walk input[type=number] {
  -moz-appearance: textfield;
}

.space-walk-wrapper {
  width: 100%;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--clear);
  position: relative;
  min-height: auto;
  color: var(--grey-88-dark);
  padding-top: 1px;
}

.row-pick-coin {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.text-4xl.font-bold {
  margin-top: 5px;
}

.row-pick-coin button {
  background-color: var(--grey-91);
  border-color: var(--grey-91);
  border-radius: 40px;
}


.row-pick-coin button button {
  background-color: transparent;
  border: 0
}

.box .parity {
  text-align: center;
}

.box .max button {
  position: absolute;
  margin-top: -75px;
  text-transform: uppercase;
}

.box .max hr {
  width: 100%;
}
.box .max {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .circle {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 35px;
  background-color: var(--clear);
  position: absolute;
}

.box .max {
}

.box .parity p {
  padding: 20px;
  font-size: 12px;
}

.box .btn-success {
  color: var(--clear);
  background-color: var(--primary);
  border-color: var(--primary);
  width: 200px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.box .btn-success:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}
