[data-theme='amplitude'] {
  .btn-primary {
    color: #32253e;
  }

  .btn-outline.btn-primary {
    color: #00f197;
  }

  .btn-outline.btn-primary:hover {
    color: #32253e;
  }

  .collators-box {
    border: 1px solid #434343;
  }

  .collators-box .card-title {
    color: #fff;
  }

  .collators-box h3 {
    color: #fff;
    font-weight: 500;
  }

  .collators-box p {
    color: #fff;
    font-weight: 300;
  }

  .staked-icon {
    fill: #fff;
  }

  .rewards-icon {
    fill: #00f197;
  }

  .btn-unlock:disabled {
    background: #00f197;
    color: #32253e;
  }
}

[data-theme='pendulum'] {
  .collators-box {
    border: 1px solid #e5e5e5;
  }

  .collators-box .card-title {
    color: #333333;
  }

  .collators-box h3 {
    color: #333333;
    font-weight: 500;
  }

  .collators-box h3.primary {
    color: #907ea0;
    font-weight: 600;
  }

  .collators-box p {
    color: #828282;
    font-weight: 300;
  }

  .rewards-icon {
    fill: #907ea0;
  }

  .staked-icon {
    fill: #32253e;
  }

  .btn-unlock:disabled {
    background: #907ea0;
    color: #fff;
  }

  .claim-title {
    color: #010e19;
  }
}
