h1 {
  font-size: 20px;
}

.portfolio {
  float: left;
  width: 390px;
  height: 95%;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.portfolio>.portfolio {
  height: auto;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 50px;
}

.portfolio>.portfolio ul {
  background-color: var(--grey-f8);
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 1000px;
}

.portfolio>.portfolio li {
  padding-left: 10px;
  padding-right: 10px;
}

.portfolio>.portfolio li.up {
  color: var(--dark-green);
}

.portfolio>.portfolio li.down {
  color: var(--dark-red);
}

.dashboard h2 {
  font-size: 30px;
  font-weight: 700;
  margin-left: 30px;
}

.dashboard h1,
.portfolio h1 {
  font-weight: 500;
  padding: 10px 30px;
  font-size: 18px;
  margin-top: 20px;
}

.portfolio h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.portfolio>ul li {
  display: inline;
}

.graph {
  float: right;
  width: 70%;
  height: 95%;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.graph-stats {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.graph-stats .token {
  padding: 0 20px;
}


.graph-stats .token span {
  font-weight: 500;
}

.dashboard {
  background-color: var(--clear)
}
