.card-title {
  font-family: 'Nunito';
  font-size: 20px;
}

.banner h2 {
  font-weight: 400;
}

.banner {
  border-radius: 5px;
  border: 1px solid var(--portfolio-border);
  background-color: var(--portfolio-bg);
}

.banner.card-compact .card-body {
  padding: 0;
  gap: 0;
}

.banner.card-compact .card-title {
  padding: 1rem;
  margin: 0;
}

.card figure {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.portfolio {
  font-family: 'Nunito';
  width: 300px;
  height: 95%;
  background-color: var(--portfolio-bg);
  border-radius: 5px;
  border: 1px solid var(--portfolio-border);
}

.portfolio.card .card-body {
  padding: 1rem;
}

.portfolio .balance h1 {
  font-size: 40px;
}

.portfolio .balance h2 {
  font-size: 20px;
}

.portfolio>.balance {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.portfolio>.portfolio li {
  padding-left: 10px;
  padding-right: 10px;
}

.portfolio>.portfolio li.down {
  color: var(--dark-red);
}

.portfolio>ul li {
  display: inline;
}

.graph {
  float: right;
  width: 70%;
  height: 95%;
  border-radius: 30px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.graph-stats {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.graph-stats .token {
  padding: 0 20px;
}

.graph-stats .token span {
  font-weight: 500;
}

.dashboard {
  background-color: var(--clear)
}

.collators-box {
  border: 1px solid var(--table-border);
}

.collators-box span {
  color: var(--table-text);
}

.collators-box h2, .collators-box h1 {
  color: var(--base-content);
}

.collators-list-container {
}

.collators-box .card-body {
  padding: 1rem 1rem 0 1rem;
}

.collators-box .card-body h3 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.collators-box .card-body p {
  color: var(--table-text);
}

.collators-list-table th {
  background-color: var(--table-background);
  border-bottom: 1px solid var(--table-border);
  color: var(--table-header-text);
  font-family: 'Nunito';
  font-size: 14px;
}

.collators-list-table {
  border: 1px solid var(--table-border);
  border-radius: 10px;
  border-collapse: separate;
}

.collators-list-table thead svg {
  display: inline
}

.collators-list-table td {
  background-color: var(--table-background);
  border-bottom: 1px solid var(--table-border);
  color: var(--table-text);
}
