.ticker-change-table {
  font-size: 15px;
}

.ticker-change-table .row {
  display: flex;
}

.ticker-change-table .bold {
  font-weight: 500;
}

.ticker-change-table .up {
}

.ticker-change-table .down {
  color: var(--dark-red);
}

.ticker-change-table .cell {
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}

.ticker-change-table .cell.icon {
  max-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticker-change-table img {
  width: 20px;
  height: 20px;
}
