$small: 300px
$medium: 900px
$menu: 30px

.mobile-menu
  display: none
  width: 100%
  height: $menu
  position: absolute
  @media screen and (max-width: $medium)
    display: block

  .menu
    width: $menu
    height: $menu
    background: transparent center center no-repeat url(../../assets/bars.svg)
    float: right
    margin: 20px
    display: block
    svg
      filter: invert(58%) sepia(0%) saturate(2%) hue-rotate(360deg) brightness(91%) contrast(83%)

#sidebar
  display: flex
  flex-direction: column
  padding-top: 20px
  min-width: 260px
  @media screen and (max-width: $medium)
    display: none
  .floating-sidebar
    display: block !important
    position: absolute !important
    top: 0 !important

#main
  height: 100vh
  width: 100%
  overflow: hidden
  .container
    padding: 1rem 10rem
    max-width: inherit
    @media screen and (min-width: $small)
      width: 100% !important

  @media screen and (min-width: $small)
    width: 100%

  @media screen and (min-width: $medium)
    width: 100%
