.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-container input {
  display: flex;
  flex: 1;
  padding-right: 50px;
}

.max-button {
  display: flex;
  padding: 5px;
  line-height: 16px;
  margin-left: -50px;
  text-decoration-line: underline;
  font-size: 14px;
}
