[data-theme='pendulum'] {
  .odd-rows {
    background-color: #F5F9FA;
  }

  .table-border {
    border-color: #DFE0EB;
  }
  
  .table-header {
    color: #9FA2B4;
  }

  .table-container {
    color: #252733; 
  }

}

[data-theme='amplitude'] {
  .odd-rows {
    background-color: #2A2A2A;
  }

  .table-border {
    border-color: #434343;
  }

  .table-header {
    color: rgba(221, 221, 221, 0.87);
  }

  .table-container {
    color: #fff; 
  }
}