@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    color: #000;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pendulum-network-id,
.pendulum-versions {
    text-align: left;
    font-size: 12px;
    color: #888
}

.pendulum-versions p,
.pendulum-network-id ul,
.pendulum-network-id p {
    padding-left: 30px;
    color: #000;
}

nav>a {
    display: flex;
    text-align: left;
    border-radius: 30px;
    margin: 15px 20px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.2s ease-out;
}

nav>.active,
nav>a:hover {
    color: #fff;
    background-color: #00aece;
}

.pendulum-logo {
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.pendulum-network-id li {
    color: #00cbf0
}

nav a svg {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 25px;
}


a .turn-me-white {
    transition: all 0.2s ease-out;
}

a:hover .turn-me-white {
    stroke: #fff
}

nav a span {
    display: block;
    width: 100px;
}

.pendulum-social-and-terms {
    margin-top: 40px;
    padding-left: 30px;
    padding-bottom: 40px;
    width: 100%;
    display: block;
}

.pendulum-social-and-terms .social {
    display: block;
    min-width: 100%;
}

.pendulum-social-and-terms .social li {
    display: inline;
    float: left;
    margin-right: 10px;
}

.pendulum-social-and-terms .social li a {
    transition: all 0.2s ease-out;
}

.pendulum-social-and-terms .social li a:hover {
    opacity: 0.3;
}

.pendulum-social-and-terms .social svg {
    width: 15px;
    height: 15px;
}

.pendulum-social-and-terms .terms {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pendulum-social-and-terms .terms li {
    display: inline;
    float: left;
    width: 40%;
    font-size: 10px;
    color: #888;
    text-align: left;
}

.pendulum-social-and-terms .terms a:hover {
    border-bottom: 1px solid #888;
}
