@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #00aece;
  --border-light: #1eb7d3;
  --secondary-light: #eaf3f4;
  --background-light: #ddeced;
  --nice-light: #00cbf0;
  --border-dark-light: #3aa4b7;
  --clear-light: #ffffff;
  --darkner-light: #000000;
  --dark-green-light: #00aa00;
  --dark-red-light: #aa0000;
  --grey-91-light: #919191;
  --grey-88-light: #888;
  --grey-99-light: #999;
  --grey-f9-light: #f9f9f9;
  --grey-f8-light: #f8f8f8;
  --footer-links-light: #999999;

  --primary-dark: #5defa7;
  --border-dark: #53d96e;
  --secondary-dark: #1c1c1c;
  --background-dark: #1c1c1c;
  --nice-dark: #46925e;
  --border-dark-dark: #3cb73a;
  --clear-dark: #1c1c1c;
  --darkner-dark: #858585;
  --dark-green-dark: #00aa00;
  --dark-red-dark: #aa0000;
  --grey-91-dark: #787777;
  --grey-88-dark: rgb(97, 95, 95);
  --grey-99-dark: rgb(60, 58, 58);
  --grey-f9-dark: #191010;
  --grey-f8-dark: #1c1c1c;
  --footer-links-dark: #858585;
}

[data-theme="black"] {
  --primary: var(--primary-dark);
  --border: var(--border-dark);
  --secondary: var(--secondary-dark);
  --background: var(--background-dark);
  --nice: var(--nice-dark);
  --border-dark: var(--border-dark-dark);
  --clear: var(--clear-dark);
  --darkner: var(--darkner-dark);
  --dark-green: var(--dark-green-dark);
  --dark-red: var(--dark-red-dark);
  --grey-91: var(--grey-91-dark);
  --grey-88: var(--grey-88-dark);
  --grey-99: var(--grey-99-dark);
  --grey-f9: var(--grey-f9-dark);
  --grey-f8: var(--grey-f8-dark);
  --footer-links: var(--footer-links-dark);
}

[data-theme="light"] {
  --primary: var(--primary-light);
  --border: var(--border-light);
  --secondary: var(--secondary-light);
  --background: var(--background-light);
  --nice: var(--nice-light);
  --border-dark: var(--border-dark-light);
  --clear: var(--clear-light);
  --darkner: var(--darkner-light);
  --dark-green: var(--dark-green-light);
  --dark-red: var(--dark-red-light);
  --grey-91: var(--grey-91-light);
  --grey-88: var(--grey-88-light);
  --grey-99: var(--grey-99-light);
  --grey-f9: var(--grey-f9-light);
  --grey-f8: var(--grey-f8-light);
  --footer-links: var(--footer-links-light);
}

body {
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  color: var(--darkner);
  background-color: var(--clear);
}

.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pendulum-network-id,
.pendulum-versions {
  text-align: left;
  font-size: 15px;
  color: var(--grey-91);
}

.pendulum-versions p,
.pendulum-network-id ul,
.pendulum-network-id p {
  padding-left: 30px;
  color: var(--darkner);
}

.pendulum-network-id svg,
.pendulum-network-id span {
  display: inline;
  margin-right: 10px;
}

.pendulum-network-id svg {
  margin-top: -2px;
  fill: var(--primary);
}

nav>a {
  display: flex;
  text-align: left;
  border-radius: 100px;
  margin: 15px 20px;
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 65%;
  transition: all 0.2s ease-out;
  align-items: center;
  color: var(--darkner);
}

.turn-me-white {
  stroke: var(--darkner);
}

nav>a:hover {
  margin: 15px 20px 15px 40px;
}

nav>.active {
  color: var(--clear);
  background-color: var(--primary);
  margin: 15px 20px 15px 40px;
}

.pendulum-logo {
  width: 250px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.pendulum-network-id a:hover {
  text-decoration: underline;
}

.pendulum-network-id li {
  color: var(--nice);
}

nav a svg {
  margin-left: 25px;
  width: 20px;
  height: 20px;
}


a .turn-me-white {
  transition: all 0.2s ease-out;
}

/* a:hover .turn-me-white  */
a.active .turn-me-white {
  stroke: var(--clear);
}

nav a span {
  display: block;
  margin-left: 30px;
  width: 140px;
  height: auto;
}

.pendulum-social-and-terms {
  margin-top: 40px;
  padding-left: 30px;
  padding-bottom: 40px;
  width: 100%;
  display: block;
}

.pendulum-social-and-terms .social {
  display: block;
  min-width: 100%;
}

.pendulum-social-and-terms .social li {
  display: inline;
  float: left;
  margin-right: 10px;
}

.pendulum-social-and-terms .social li a {
  transition: all 0.2s ease-out;
}

.pendulum-social-and-terms .social li a:hover {
  opacity: 0.3;
}

.pendulum-social-and-terms .social img,
.pendulum-social-and-terms .social svg {
  width: 20px;
  height: 20px;
  filter: invert(58%) sepia(0%) saturate(2%) hue-rotate(360deg) brightness(91%) contrast(83%);
}

.pendulum-social-and-terms .terms {
  padding-top: 40px;
  padding-bottom: 30px;
}

.pendulum-social-and-terms .terms li {
  display: inline;
  float: left;
  width: 40%;
  font-size: 15px;
  color: var(--footer-links);
  text-align: left;
  margin-bottom: 10px;
}

.pendulum-social-and-terms .terms span:hover,
.pendulum-social-and-terms .terms a:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--footer-links);
}
