@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #907EA0;
  --border-light: #907EA0;
  --secondary-light: #58667E;
  --background-light: #F4F5F6;
  --nice-light: #907EA0;
  --clear-light: #ffffff;
  --footer-links-light: #58667E;

  --primary-dark: #5defa7;
  --secondary-dark: #1c1c1c;
  --background-dark: #1c1c1c;
  --nice-dark: #09C63E;
 
  --footer-links-dark: #858585;
  --darkner: #1c1c1c;
}

[data-theme="amplitude"] {
  --primary: var(--primary-dark);
  --border: var(--border-dark);
  --secondary: var(--secondary-dark);
  --background: var(--background-dark);
  --nice: var(--nice-dark);
  --footer-links: var(--footer-links-dark);
}

[data-theme="pendulum"] {
  --primary: var(--primary-light);
  --border: var(--border-light);
  --secondary: var(--secondary-light);
  --background: var(--background-light);
  --nice: var(--nice-dark);
  --footer-links: var(--footer-links-light);
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  color: var(--darkner);
  background-color: var(--clear);
}

#main {
  background-color: #F5F5F5;
}

.pendulum-network-id,
.pendulum-versions {
  text-align: left;
  font-size: 12px;
  justify-content: end;
  align-items: flex-end;
  margin-bottom: 20px;
}

.pendulum-versions p,
.pendulum-network-id ul,
.pendulum-network-id p {
  margin-bottom: 5px;
  margin-left: 30px;
  color: var(--secondary-light);
}

.pendulum-network-id svg,
.pendulum-network-id span {
  display: inline;
  margin-right: 10px;
}

.pendulum-network-id svg {
  margin-top: -2px;
  fill: var(--primary);
}

nav {
  margin-bottom: auto;
}

nav>a {
  color: #58667E;
  font-weight: 600;
  display: flex;
  text-align: left;
  border-radius: 100px;
  margin: 10px;
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.2s ease-out;
  align-items: center;
  border-radius: 9px;
}

.turn-me-white {
  stroke: var(--darkner);
}

#sidebar-wrapper {
  border-right: 1px solid  hsla(210, 23%, 95%, 1);
}

nav>a:hover {
  background-color: hsla(272, 15%, 56%, 0.1);
}

nav>.active {
  background-color: hsla(272, 15%, 56%, 0.1);
}

nav .nav-arrow {
  fill: hsla(271, 25%, 19%, 1);
  font-weight: 400;
  width: 3px;
  height: 7px;
  visibility: hidden;
}

nav>.active .nav-arrow {
  visibility: visible;
}


nav svg {
  fill: var(--secondary-light);
}

nav a {
  position: relative;
  font-size: 14px;
}

nav .external-link {
  position: absolute;
  width: 10px;
  right: 58px;
  z-index: 10;
}

.pendulum-logo {
  width: 160px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.pendulum-network-id {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 4px;
  width: 122px;
  margin-left: 30px;
}

.pendulum-network-id a:hover {
  text-decoration: underline;
}

.pendulum-network-id li {
  color: var(--nice);
}

nav a svg {
  margin-left: 25px;
  width: 20px;
  height: 20px;
}


a .turn-me-white {
  transition: all 0.2s ease-out;
}

/* a:hover .turn-me-white  */
a.active .turn-me-white {
  stroke: var(--clear);
}

nav a span {
  display: block;
  margin-left: 30px;
  width: 140px;
  height: auto;
}

.pendulum-social-and-terms {
  margin-top: 40px;
  padding-left: 30px;
  padding-bottom: 40px;
  width: 100%;
  display: block;
}

.pendulum-social-and-terms .social {
  display: block;
  min-width: 100%;
}

.pendulum-social-and-terms .social li {
  display: inline;
  float: left;
  margin-right: 10px;
}

.pendulum-social-and-terms .social li a {
  transition: all 0.2s ease-out;
}

.pendulum-social-and-terms .social li a:hover {
  opacity: 0.3;
}

.pendulum-social-and-terms .social img,
.pendulum-social-and-terms .social svg {
  width: 20px;
  height: 20px;
  filter: invert(58%) sepia(0%) saturate(2%) hue-rotate(360deg) brightness(91%) contrast(83%);
}

.pendulum-social-and-terms .terms {
  padding-top: 40px;
  padding-bottom: 30px;
}

.pendulum-social-and-terms .terms li {
  display: inline;
  float: left;
  width: 40%;
  font-size: 15px;
  color: var(--footer-links);
  text-align: left;
  margin-bottom: 10px;
}

.pendulum-social-and-terms .terms span:hover,
.pendulum-social-and-terms .terms a:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--footer-links);
}
