.status-box {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  color: rgba(221, 221, 221, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: rgba(255, 255, 255, 0.07);
}

.status-dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #fff;
}

.status-box.completed,
.status-box.reimbursed {
  background: rgba(28, 203, 138, 0.07);
}

.status-dot.completed,
.status-dot.reimbursed {
  background-color: #1ccb8a;
}

.status-box.pending,
.status-box.failed,
.status-box.retried {
  background: rgba(238, 185, 49, 0.07);
}

.status-dot.pending,
.status-dot.failed,
.status-dot.retried {
  background-color: #eeb931;
}

.status-box.cancelled {
  background: rgba(238, 63, 20, 0.07);
}

.status-dot.cancelled {
  background-color: #f14445;
}

.bridge-card .tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) > svg {
  fill: #32253e;
}

.bridge-card .tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
  color: #32253e;
}

.bridge-card input[type='number'] {
  outline: 0px;
}

[data-theme='pendulum'] {
  .bridge-card .tabs-boxed :not([data-active='true']) > svg {
    fill: var(--gray-3, #828282);
  }

  .bridge-card .tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
    background-color: #f7f7f7;
  }

  .bridge-card .disclaimer svg {
    fill: #32253e;
  }

  .bridge-card .settings svg {
    stroke: #58667e;
  }

  .status-box {
    color: #828282;
  }

  .transfer-dialog {
    background-color: #fff;
    border: 1px solid rgba(67, 67, 67, 0.26);
  }

  .transfer-dialog-text {
    color: #7c818d;
  }

  .transfer-dialog-label {
    background: rgba(0, 0, 0, 0.03);
    color: black;
  }

  .transfer-dialog-colored-text {
    color: #907ea0;
  }

  #details {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

[data-theme='amplitude'] {
  .bridge-card .tabs-boxed :not([data-active='true']) > svg {
    fill: var(--primary);
  }

  .bridge-card .tabs-boxed [data-active='true'] > svg {
    fill: black;
  }

  .bridge-card .disclaimer svg {
    fill: #fff;
  }

  .bridge-card input[type='number'] {
    color: #fff;
  }

  .bridge-card .settings svg {
    stroke: #fff;
  }

  .transfer-dialog-label {
    background-color: #2a2a2a;
  }

  .transfer-dialog {
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid rgba(67, 67, 67, 0.26);
  }

  .transfer-dialog-colored-text {
    color: #fff;
  }

  .transfer-dialog-text {
    color: #fff;
  }

  #details {
    background-color: #2a2a2a;
  }
}
